*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --limouni: rgb(253, 147, 40);
    --primary_color1:#333;
    --primary_color2:#000000;
    --secondary:white;
}
.dark-theme{    

    --limouni:rgb(109, 216, 255);
    --primary_color1:#ffffff;;
    --primary_color2:#f2ece9;
    --secondary:#000000;
}
canvas{
    position: fixed;
    top: 0;
    left: 0;
}
header{
    position: fixed;
    top: 0;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
}
header h1 span{
    color: var(--limouni)
}
header nav a{
    text-decoration: none;
    padding: 10px;
    color: white;
}
header nav a:hover{
    text-decoration: underline;
}
header i{
    display: none;
}

@media(max-width:600px){
    header nav{
        position: absolute;
        display: none;
        flex-direction: column;
        top: 55px;
        left: 0;
        background-color: rgba(0, 0, 0,0.8);
        width: 100%;
    }
    header i{
        font-size: 32px;
        display: block;        
    }
    header nav a{
        border-bottom: 2px solid white;
    }
}